.container {
    max-width: 400px;
    margin: auto;
    background: rgb(193, 230, 231);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submitChange {
    width: 100%;
    padding: 10px;
    background-color:aqua;
    color: rgb(44, 5, 80);
    border: double;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}


#submitChange:hover { 
    background-color: #2953c4;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: 95%;
    padding: 8px;
    margin-bottom: auto;
    border: 3px dashed #ccc;
    border-radius: 4px;
}